.navigation{
    background-color: black;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}

#navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }

.logo {
   padding-left: 10px;
   padding-top: 5px;
   padding-right: 10px;
   padding-bottom: 5px;
}

#nav {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
  }

header {
color: white;
}

.hyperlink {
display: flex;
width: 75%;
flex-direction: row;
justify-content: center;
}

.hyperlink > p {
padding: 15px;
}

.heroGrid {
    display: flex;
}

.heroImg {
    height: 500px;
    padding: 3%;
    width: 45%;
    justify-content: left;
}

.content {
    height: 500px;
    padding: 3%;
    width:40%;
    margin: 0 auto;
    justify-content: right;
}

.content >button {
    height: 40px;
    width: 140px;
    background-color: #984df7;
    color: white;
    text-shadow: 4px;
    
}

footer {
    background-color:#373738;
    display: flex;
    width: 100%;
    color: white;
    display: inline-block;
    vertical-align: top;
    }

.bottomMenu {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
        
.bottomMenu > p {
    padding: 15px;
        }